#full-page {
    display: flex;
    flex-direction: row;
}

#verify-field {
    flex: 1; 
    display: flex; 
    flex-direction: column;
    align-items: center;    
    padding: 20px;
}

body {
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    height: auto; 
}

#logo {
    padding-right: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
