#full-page {
    display: flex;
    flex-direction: row;
}

body {
    overflow: hidden;
}

.register-field {
    flex: auto;
    flex-direction: column;
}

html,body {
    margin: 0;
    padding: 0;
}